<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="box">
				

			</div>
		</div>
		<div class="col-md-3 col-md-offset-4">
			<div class="logo-bg">
				<center>
					<%= image_tag 'hotdogs.png', :class => 'logo' %>
				</center>
			</div>
		</div>
	</div>
</div>

